.frameOuter {
    transform: skewX(-10deg);
    transition: all 1s ease-in-out;
}
.frame {
    border-left: solid 1px lime;
    margin: 10px 20px;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.view {
    min-width: 1vw;
    height: 500px;
    background-color: white;
    flex-grow: 1;
}

.text {
    width: 0;
    transform: rotate(-90deg) translate(190px, 10px);
}
