.dateContainer {
    --bg-gradient: linear-gradient(#666 0 100%);
    background-image:
        var(--bg-gradient), /* 上線 */
        var(--bg-gradient); /* 左線 */
    background-repeat: no-repeat;
    background-size: 100% 1px, 1px 100%; /* 上線, 左線 */
    background-position: left top 20px, left 20px top;

    padding: 50px;
}

.date {
    font-size: 4vh;
    margin: 10vh 5vw;
}

.dotPattern {
    background-image: 
        radial-gradient(#666 10%, transparent 10%);
    background-size: 20px 20px;
}

.placeContainer {
    padding: 10px 10px 10px 20%;
}

.placeHeadingAndDetail {
    padding: 0 50px 0 50px;
    display: flex;
    align-items: center;
}

.placeHeading {
    color: white;
    font-size: 6vh;
}

.placeDetail {
    color: white;
    font-size: 2vh;
}

.placeNameLinkContainer {
    display: flex;
    /* justify-content: right; */
    align-items: center;
    padding: 2vw;

    --bg-gradient: linear-gradient(#666 0 100%);
    background-image:
        var(--bg-gradient), /* 上線 */
        var(--bg-gradient); /* 左線 */
    background-repeat: no-repeat;
    background-size: 100% 1px, 1px 100%; /* 上線, 左線 */
    background-position: left top 20px, left 20px top;
}

.placeText {
    font-size: 3vh;
    margin: 10vh;

    font-size: 30px;
}

.placeLink {
    font-size: 2vh;
    padding: 1px;
    border-bottom: solid 1px magenta;
}

.placeLinkArrow {
    position: relative;
    /* padding-left: 30px; */
    transform: translate(35px, -10px);
}

.placeLinkArrow::before {
    content: "";
    position: absolute;
    bottom: -1px; /* 要素の下からの距離 */
    left: 9px;
    width: 7px;
    height: 7px;
    border-top: 1px solid magenta;
    border-right: 1px solid magenta;
}
.placeLinkArrow::after {
    content: "";
    position: absolute;
    bottom: 2px; /* 要素の下からの距離 */
    left: 8px;
    width: 10px;
    height: 2px;
    background: magenta;
    transform: rotate(135deg); /* 棒の角度調整 */
}
