.backBlackPanel{
    color: #f2f2f2;
    background-color: black;
    width: 100vw;
    height: 100vh;
    padding: 0 90px;
}

.headingAndDetail{
    display: flex;
    padding: 50px;
    align-items: center;
}
.heading {
    color: #f2f2f2;
    font-size: 6vh
}
.detail {
    color: #f2f2f2;
    font-size: 2vw;
}

.panelChildrenContainer {
    margin: 3vh 200px 10vh 80px;
}
