.backBlackPanel{
    color: white;
    background-color: black;
    width: 100vw;
    min-height: 100vh;
    padding: 0 90px;
}

.headingAndDetail{
    display: flex;
    padding: 50px;
    align-items: center;
}
.heading {
    color: white;
    font-size: 6vh
}
.detail {
    color: white;
    font-size: 2vw;
}

.panelChildrenContainer {
    margin: 3vh 200px 10vh 80px;
}
